body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
  color: #e0e0e0;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}

.btn-link {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 14px 24px;
  font-size: 1.1rem;
  background-color: #3affaa;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 8px #3affaa55;
  transition: background-color 0.3s ease, transform 0.2s ease;
  max-width: 90%;
  width: auto;
}

.btn-link:hover {
  background-color: #66ffd9;
  transform: scale(1.03);
}


.terminal-box {
  background-color: rgba(20, 20, 20, 0.9);
  border: 2px solid #2f2f2f;
  box-shadow: 0 0 16px #3affaa33;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 320vh;
  max-height: 95vh; /* limite máximo na tela */
  overflow-y: auto; /* cria scroll se passar */
}

.titulo-terminal{
  margin-bottom: 40px;
}

.terminal-box h1 {
  color: #8cff66;
  text-shadow: 0 0 6px #3affaa77;
}

.linktree-container{
  display: inline-block;
  margin-top: 12px;
  padding: 14px 24px;
  font-size: 1.1rem;
  background-color: #3affaa;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 8px #3affaa55;
  transition: background-color 0.3s ease, transform 0.2s ease;
  max-width: 90%;
  width: auto;
}

.linktree-container:hover {
  background-color: #66ffd9;
  transform: scale(1.03);
}

.btn-select {
  background-color: #3affaa;
  color: #000;
  box-shadow: 0 0 10px #3affaa88;
}

.btn-select:hover {
  background-color: #66ffd9;
}

.btn-fechar {
  background-color: #ff5e5e;
  box-shadow: 0 0 10px #ff5e5e88;
  color: white;
}

.btn-fechar:hover {
  background-color: #ff7878;
}

.btn-link {
  background-color: #3affaa;
  color: #000;
  box-shadow: 0 0 6px #3affaa55;
}

.btn-link:hover {
  background-color: #66ffd9;
}

.resposta {
  color: #c2f0d3;
  border-top: 1px solid #3affaa66;
}
